*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
a {
   color: rgb(15, 34, 239);
   font-size: 25px;
   text-decoration: none;
}
a:hover{
   color: rgb(126, 119, 242);
}
body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}

.wrapper {
   width: 100vw;
   height: 100vh;  
   
  
}
.conteiner{
   margin: 0 auto;
   width: 800px;
   max-width: 800px;  
   padding: 0 15px 15px;
   
}
@media (max-width:400px) {
   .conteiner {
      width: 310px;
      min-width: 320px;
   }
}
h1{
   font-size: 30px;
   margin-bottom: 10px;
   word-wrap: break-word;  
}
h2 {
   font-size: 25px;
   margin-bottom: 10px;
   color: red;
} 

.item {

}
.item1{

   margin: 10px 0;
   position: relative;
}
.icon {   
   fill:  rgb(15, 34, 239);
}

.phone {
   margin-left: 10px;
}
.item2 {
   margin-bottom: 30px;
}
ol li {
   list-style-position: inside;
   word-wrap: break-word;

}
.ol {
   line-height: 1.4;
   font-size: 20px;
  
} 
.ol *  {
margin-bottom: 15px;
}
.input {
   margin-bottom: 5px;
   width: 300px;   
   padding: 5px;
}
.btn {
   cursor: pointer;
   width: 300px;
   border-radius: 5px;
   background: rgb(217 33 33);
}
.btn:hover {
   background-color: rgb(229, 61, 61);
}
.phone-now{
   display: inline-block;
   margin-bottom: 10px;
}
.icon-now{
   transform: rotate(254deg);
   width: 25px;
}

.reviews {
  padding-bottom: 20px;
}

iframe {
   width: 600px;
   height: 450px;
  margin-bottom: 10px;
}
img {
   width: 600px;
   height: 450px;
}

@media (max-width: 400px) {
   .input{
      width: 200px;
      font-size: 10px;  
   }
   .btn {
      width: 150px;
   }
   iframe {
      width: 300px;
      height: 250px;
   }
   img {
      width: 300px;
      height: 250px;
   }
}
